html,
body,
section {
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    font-family: NotoSans;
    color:#272727;
}

a{
    text-decoration: none;
}

section{
    min-height:calc(100% - 356px);
    background: url(../src/assets/images/bg.png) center/cover fixed ;
}

section:has(#login){
    background:none;
}

.button {
    height: 40px;
    padding: 9px 20px;
    font-size: 16px;
    border-radius: 3px;
    transition: .3s;
    cursor:pointer;
    vertical-align: middle;
    margin:2px;
    box-sizing: border-box;
    display: inline-block;
}

.center{
    text-align: center;
}

.buttonColor1{
    background-color: #37D880;
    color: #fff;
    border: none;
}

.buttonColor1:hover{
    background-color: #2FB86D;
}

.buttonColor2{
    border: 1px solid #bebebe;
    background: #fff;
    color: #525252;
}

.buttonColor2:hover{
    background: #efefef;
}

.buttonColor3{
    border: 1px solid #37D880;
    background: #fff;
    color: #37D880;
}

.buttonColor3:hover{
    background: #F5FDF9;
}

.buttonColor4{
    border: none;
    background: #fff;
    color: #808080;
}

input{
    box-sizing: border-box;
}

input[type="text"],
input[type="password"]{
    height: 40px;
    border: 1px solid #efefef;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 16px;
    background: #efefef;
    border-radius:3px;
}

input[type="button"]{
    cursor: pointer;
}
input[type="checkbox"]{
    appearance: none;
    width: 20px;
    height: 20px;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    background: url(/src/assets/images/checkbox.svg) #FAFAFA center/100% no-repeat;
}

input[type="checkbox"]:checked{
    background: url(/src/assets/images/checkbox-green.svg) center/100% no-repeat;
}

input[type="checkbox"][disabled],
input[type="checkbox"][disabled]:checked{
    background: url(/src/assets/images/checkbox-green.svg) center/100% no-repeat;
    -webkit-filter:grayscale(1);
}

input:not([disabled]),
select:not([disabled]){cursor: pointer;}

select{
    height: 40px;
    border: 1px solid #efefef;
    padding: 0 40px 0 10px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius:3px;
    appearance: none;
    color:#333;
    background: url(/src/assets/images/select.svg) #efefef calc(100% - 10px) center/auto no-repeat;
}


select:focus{
    outline: none;
    border:1px solid #37d880!important;
}

input[type="radio"] + span{
    margin-left:5px;
}

input[type="radio"]{
    border:none;
    /* input 底色FAFAF 文字BEBEBE */
    background: url(/src/assets/images/radio.svg) #FAFAFA center/100% no-repeat;
    color: #BEBEBE;
    width:20px;
    height:20px;
    border-radius:50%;
    display:inline-block;
    vertical-align: middle;
    margin:0;
    padding:0;
    appearance: none;
}

input[type="radio"]:checked{
    border:none;
    background: url(/src/assets/images/radioCheck.svg) center/100% no-repeat;
}

input[type="radio"][disabled]:checked{
    -webkit-filter:grayscale(1);
}

input[type="text"]:focus,
input[type="password"]:focus{
    outline: none;
    border:1px solid #37d880!important;
}


label + input[type="file"]{
    display: none;
}

span{display:inline-block;}

.fontRed{color:#f00!important;}

.fontGreen{color:#37D880}

.fontRedOrange{color:#F76868}

::placeholder{color:#bebebe;}

a.button,
label.button{
    display:inline-block;
    line-height: 20px;;
}

label:not([class]){
    display: block;
}

.content{
    background:#fff;
}

.title{
    width: 880px;
    margin:0 auto;
    padding:20px 40px 40px;
    border-radius: 3px;

    > span{
        width:calc(100% - 500px);
        vertical-align: middle;
    }

    > span + #buttonBox{
        width:500px;
        text-align: right;
    }
}

.title:not(:has( + #issue)){
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.title h1{
    margin:0;
}


.notice-icon {
    height: 16px;
    width: 16px;
    cursor: pointer;
    margin-left: 5px;
}

.items{
    border:1px solid #efefef;
    box-sizing: border-box;
    padding:8px 10px;
    width:570px;
    border-radius: 3px;
    background: url(/src/assets/images/select.svg)calc(100% - 10px) center/auto no-repeat;
}

.items span{
    background: #F5FDF9;
    color:#2FB86D;
    font-size: 12px;
    padding:4px 8px;
    margin:2px;
}

.items:empty:before{
    content:"請選擇";
    display:inline-block;
    color:#bebebe;
    font-size: 12px;
    padding:0 10px;
}

.noData{
    text-align: center;
    padding:40px;
}

.noData h2{
    color: #808080;
    font-weight: inherit;
}

.dialog-background{
    position: fixed;
    top: 0;
    left: 0;
    background: #0000004d;
    width:100%;
    max-width: unset !important;
    height: 100%;
    display: none;
    z-index: 1;
    &.show{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .dialog-block{
      display: flex;
      flex-direction: column;
      background: #fff;
      border-radius: 3px;
      width: 100%;
      max-width: 480px;
      .dialog-content{
        padding: 20px;
        .dialog-title{
          display: flex;
          align-items: center;
          color: #37D880;
        }
      }
      .dialog-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 20px;
        background: #FAFAFA;
      }
    }
  }

#loading{
    position: fixed;
    display: flex!important;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%!important;
    height: 100%!important;
    background-color: rgba(0,0,0,.5);
    z-index: 10000;animation: fadeIn .5s both;
    user-select: none;
}
#loading img{
    width:70px;
    user-select:none;
}