html,body,section {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.button {
    height: 40px;
    padding: 9px 20px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 3px;
    transition: .3s;
    cursor:pointer;
    vertical-align: middle;
}

.button + .button{margin-left:5px;}



.buttonColor1{
    background-color: #37D880;
    color: #fff;
    border: none;
}

.buttonColor1:hover{
    background-color: #2FB86D;
}

.buttonColor2{
    border: 1px solid #bebebe;
    background: #fff;
    color: #525252;
}

.buttonColor2:hover{
    background: #efefef;
}

input{
    box-sizing: border-box;
}

input[type="text"],
select{
    height: 44px;
    border: 1px solid #dfdfdf;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 16px;
    background: #efefef;
    border-radius:3px;
}

input[type="text"]:focus,
input[type="password"]:focus{
    outline: none;
    border:1px solid #37d880!important;
    background-color:#fff!important;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

span{display:inline-block;}

.fontRed{color:#f00;}