html,
body,
section {
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    font-family: NotoSans;
    color:#272727;
}

section{
    min-height:calc(100% - 356px);
    background: url(../src/assets/images/bg.png) center/cover fixed ;
}

section:has(#login){
    background:none;
}

.button {
    height: 40px;
    padding: 9px 20px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 3px;
    transition: .3s;
    cursor:pointer;
    vertical-align: middle;
    margin:2px;
}

.center{
    text-align: center;
}

.buttonColor1{
    background-color: #37D880;
    color: #fff;
    border: none;
}

.buttonColor1:hover{
    background-color: #2FB86D;
}

.buttonColor2{
    border: 1px solid #bebebe;
    background: #fff;
    color: #525252;
}

.buttonColor2:hover{
    background: #efefef;
}

.buttonColor3{
    border: 1px solid #37D880;
    background: #fff;
    color: #37D880;
}

.buttonColor3:hover{
    background: #F5FDF9;
}

.buttonColor4{
    border: none;
    background: #fff;
    color: #808080;
}

input{
    box-sizing: border-box;
}

input[type="text"],
input[type="password"]{
    height: 40px;
    border: 1px solid #efefef;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 16px;
    background: #efefef;
    border-radius:3px;
}

input[type="button"]{
    cursor: pointer;
}
input[type="checkbox"]{
    appearance: none;
    width: 20px;
    height: 20px;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    background: url(/src/assets/images/checkbox.svg) #FAFAFA center/100% no-repeat;
}

input[type="checkbox"]:checked{
    background: url(/src/assets/images/checkbox-green.svg) center/100% no-repeat;
}

select{
    height: 44px;
    border: 1px solid #efefef;
    padding: 0 40px 0 10px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius:3px;
    appearance: none;
    color:#bebebe;
    background: url(/src/assets/images/select.svg) #FAFAFA calc(100% - 10px) center/auto no-repeat;
}

select.selected{
    color: #333;
}

select:focus{
    outline: none;
    border:1px solid #37d880!important;
}

select::placeholder{
    color:#999;
}

input[type="radio"] + span{
    margin-left:5px;
}

input[type="radio"]{
    border:none;
    /* input 底色FAFAF 文字BEBEBE */
    background: url(/src/assets/images/radio.svg) #FAFAFA center/100% no-repeat;
    color: #BEBEBE;
    width:20px;
    height:20px;
    border-radius:50%;
    display:inline-block;
    vertical-align: middle;
    margin:0;
    padding:0;
    appearance: none;
}

input[type="radio"]:checked{
    border:none;
    background: url(/src/assets/images/radioCheck.svg) center/100% no-repeat;
}

input[type="text"]:focus,
input[type="password"]:focus{
    outline: none;
    border:1px solid #37d880!important;
}

a{
    color: #fff;
    text-decoration: none;
}

/* Nav Hover效果為顏色差異 非底線 */
/* a:hover{
    text-decoration: underline;
} */

span{display:inline-block;}

.fontRed{
    color:#f00;
}

.fontRedOrange{color:#F76868}

::placeholder{color:#bebebe;}

label{
    display: block;
}

.content > div{
    padding: 20px 40px;
    /* 陰影值請改0.2 */
    box-shadow: 1px 1px 8px rgba(0,0,0,.2);
    width: 920px;
    max-width:100%;
    margin: 0 auto 20px;
    border-radius: 3px;
    background: #fff;
    position: relative;
}

#buttonBox{
    position: absolute;
    width:60%!important;
    right:10px;
    top:20px;
    text-align: right;
}

.notice-icon {
    height: 16px;
    width: 16px;
    cursor: pointer;
    margin-left: 5px;
}
